@import url('https://fonts.googleapis.com/css?family=Oswald|Lato:300');


body{
    font-family: Lato, sans-serif;
    color: #3a3a3a;}

h1, h2{
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
}

#title {
    
        height: 200px;
        width: 100%;
        background: pink;}


#logo {
    float: left;
    font-size: 400%;
    margin-left: 30px;
    color: white;
    padding: 10px;
}
#logo a:hover {
    color: white;
    
}


#menu{
    font-size: 110%;
    letter-spacing: 6px;
    color: white;
    font-weight: bold;
    padding: 80px;
}

#logo, #menu{
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: white;
    border: 1px  1px 1px 1px solid black;
}

#menu a:hover {
    border-bottom: 4px solid greenyellow;
    
}

#beauty-outer {
    height:300px;
    width: 100%;
    overflow: hidden;
    position: relative;
    background: orange;
}

#beauty-image {
    height:300px;
    width: 100%;
    background: url('C:\Users\LENOVO\Desktop\Image Web.jpg') no-repeat center center;
}


#welcome-section {
    text-align: center;
    float: center;
    height: 400px;
    width: 100%;
    background: lightgoldenrodyellow;}
    

#welcome-section  h2 {
    float: center;
    clear:both;
    color: pink;
}

#left-about{
    text-align: left;
    padding-top: 10px;
    float: left;
    letter-spacing: 3px;
    padding: 20px;
}

#right-about {
    text-align: right;
    padding-top: 10px;
    float: right;
    letter-spacing: 1px;
}


hr {
    border-top: 3px solid pink;
    width: 100%;
    margin: 5px 0;
}

.left-about-heading {
    width: 50%;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.left-about-heading h2 {
    width: 50%;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.left-about-heading p {
    width: 50%;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.right-about-heading {
    width: 50%;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.right-about-heading p {
    text-align: right;
    float: right;
}

.right-about-heading h2 {
    text-align: right;
    float: right;
}


#times{
    background-image: url('C:\Users\LENOVO\Downloads\pexels-delbeautybox-853427.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow: hidden;
}

#times div {
    color: #fafafa;
    background-color: lightsteelblue;
    width: 33.33%;
    height: 400px;
    float: left;
    padding: 30px 0 0 10px;
    text-align: center;
    border: 2px solid white;
    box-sizing: border-box;
}

#map {
    height: 400px;
    width: 33.33%;
  }
  
  #map img{
    height: 400px;
    width: 33.33%;
  }

#times h2 {
    color: #fafafa;
}



#footer{
    height: 150px;
    background: pink;
    text-align: center;
    color: black;
    width: 100%;
    column-fill: 200px;
}

.social-networks ul{
    text-align: center;
    color: black;
}

.social-networks li{
    display: inline;
}

.social-networks i{
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;
}

#photo {
    height: 300px;
    clear: both;
    line-height: 0;
    column-count: 3;
    column-gap: 0px;
}

#photo-1 {
    height: 300px;
    clear: both;
    line-height: 0;
    column-count: 3;
    column-gap: 0px;
}

#photo img{
    height: 300px;
    width: 100%;
}
#photo-1 img {
    height: 300px;
    width: 100%;   
}

.form-section {
    clear: left;
    background: url('C:\Users\LENOVO\Desktop\Image Web.jpg');
    background-size: cover;
    background-position: center;
    height: 900px;
  
}

.get-in-touch {margin-top: 150px ;
color: #fff;
background-color: rgba(60, 60, 60, 0.6);
max-width: 400px;
position: absolute;
left: 10%;
padding: 30px;}

.get-in-touch h2 {
color: #fafafa;
margin-bottom: 20px;}

.text-input {background: transparent; 
color: #fafafa;
width: 100%;
height: 25px;
margin: 5px 0 20px 0;
border: 1px solid #fafafa;
border-radius: 2px;}

.text-input:hover{ border-color: #f16c6b;}

.join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #f16c6b;
    color: #fafafa;
    display: block;}
    
.join-button:hover {background-color: #fafafa;
    color: #f16c6b;}
    


@media screen and (max-width: 1200px){
    #welcome-section {
        width: 65%;
        height: 1200px;
        margin: 0 auto;
    }

    #welcome {
        padding: 30px 0;
        margin-top: 0;
    }

    #left-about, #right-about {
        width:100%;
        float:left;
        padding: 0;
    }

    #square{
        clear: both;
        width: 100%;
        float: left;
        padding: 0;
    }

    #times div {
        width: 100%;
        clear: both;
        height: 150px;
        padding: 0;
    }

    hr {
        display: none;
    }
}

