@import url('https://fonts.googleapis.com/css?family=Oswald|Lato:300');

*{
    margin:0;
    padding:0;
    border:0;
}

body{
    font-family: Lato, sans-serif;
    color: #3a3a3a;
}


h1, h2{
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
}

#logo{
    float: left;
    font-size: 280%;
    margin-left: 30px;
}


#menu{
    font-size: 110%;
    letter-spacing: 4px;
}

#logo, #menu{
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
    border-bottom-color: pink;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover{
    border-bottom: 1px solid yellow;
}

.active{
    border-bottom: 1px solid #3a3a3a;
}


/* Club ethos */

#welcome-section{
    height: 600px;
}

#left-about{
    padding-top: 30px;
    width: 33%;
    float: left;
}

#right-about {
    padding-top: 30px;
    width: 33%;
    float: right;
}

#square {
    width: 33%;
    margin: 0 auto;
}

hr {
    border-top: 1px solid #3a3a3a;
    width: 100%;
    margin: 5px 0;
}

.left-about-heading {
    width: 60%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.right-about-heading {
    width: 60%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.right-about-heading p {
    text-align: right;
}

.right-about-heading h2 {
    text-align: right;
}

/* Club ethos center image */

#welcome {
    margin: 20px 0;
    text-align: center;
    font-size: 280%;
}

#square-container {
    width: 300px;
    height: 300px;
    padding: 30px;
    border-style: solid;
    border-color: #cccccc;
    border-width: 1px;
    border-radius: 50%;
    margin: 0 auto;
}

#square-cover-bg {
    background: url("https://codeinstitute.s3.amazonaws.com/FundamentalsProjects/HTML-CSS/video-mask.png") no-repeat center center;
    height: 100%;
    border-radius: 50%;
}



#times{
    background-image: url("https://codeinstitute.s3.amazonaws.com/FundamentalsProjects/HTML-CSS/dublin-city.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow: hidden;
}

#times div {
    color: #fafafa;
    background-color: rgba(0,0,0, .6);
    width: 20%;
    height: 300px;
    float: left;
    padding: 30px 0 0 10px;
    text-align: center;
    border: 2px solid white;
    box-sizing: border-box;
}

#times h2 {
    color: #fafafa;
}



footer{
    height: 150px;
}

.social-networks{
    text-align: center;

}

.social-networks li{
    display: inline;
}

.social-networks i{
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;
}



#photo {
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 0px;
}

#photo img{
    width: 100%;
}

https://cdn1.treatwell.net/images/view/v2.i5059481.w720.h480.x57F4036F/

.form-section {
    clear: left;
    background: url("https://codeinstitute.s3.amazonaws.com/FundamentalsProjects/HTML-CSS/formbg.jpg");
    background-size: cover;
    background-position: center;
    height: 900px;
   
}

.get-in-touch {margin-top: 150px ;
color: #fff;
background-color: rgba(60, 60, 60, 0.6);
max-width: 400px;
position: absolute;
left: 10%;
padding: 30px;}

.get-in-touch h2 {
color: #fafafa;
margin-bottom: 20px;}

.text-input {background: transparent; 
color: #fafafa;
width: 100%;
height: 25px;
margin: 5px 0 20px 0;
border: 1px solid #fafafa;
border-radius: 2px;}

.text-input:hover{ border-color: #f16c6b;}

.join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #f16c6b;
    color: #fafafa;
    display: block;}
    
.join-button:hover {background-color: #fafafa;
    color: #f16c6b;}
    


@media screen and (max-width: 1200px){
    #welcome-section {
        width: 65%;
        height: 1200px;
        margin: 0 auto;
    }

    #welcome {
        padding: 30px 0;
        margin-top: 0;
    }

    #left-about, #right-about {
        width:100%;
        float:left;
        padding: 0;
    }

    #square{
        clear: both;
        width: 100%;
        float: left;
        padding: 0;
    }

    #times div {
        width: 100%;
        clear: both;
        height: 150px;
        padding: 0;
    }

    hr {
        display: none;
    }
}

@media screen and (max-width: 950px){

    #menu{
        clear: left;
        float: left;
        margin-left: 30px; 
        margin-bottom: 20px;
        line-height: 25px;
    }

    #cover-text{
        left:0px;
    }

    #welcome-section {
        width:90%;
        height: 1200px;
        margin: 0 auto;
    }

    .left-about-heading, .right-about-heading{
        width: inherit;
    }

    .left-about-heading h2, .right-about-heading h2{
        width: 100%;
        text-align: center;
    }

    .left-about-heading p, .right-about-heading p{
        text-align: center;
        padding: 0 20px 0 20px;
    }

    #photo{
        column-count: 3;
    } }

@media screen and (max-width: 800px){
    #photo{
        column-count: 2;
    }
}